

<div class="container-fluid bg-1 text-center" id="firstdiv">
  <div class="w3-display-middle">
    <hr class="w3-border-white" id="div-one-first">
    <h1 class="w3-jumbo w3-animate-top jello">Welcome to Skill-Up</h1>
    <hr class="w3-border-white" id="div-one-seoncd">
  </div>
</div>


<div class="container-fluid bg-2 text-center" id="seconddiv">
  <h2 class="margin stepheader" >How Skill-Up Works?</h2>
  <div class="row align-items-center">
    <div class="col-6 col-sm-3 step-col-1">
      Step 1:
    </div>
    <div class="col-6 col-sm-3 step-col-2">
      Step 2:
    </div>
    <div class="col-6 col-sm-3 step-col-3">
      Step 3:
    </div>
    <div class="col-6 col-sm-3 ">
      Step 4:
    </div>
  </div>
</div>
