

<div class="container-fluid bg-1 text-center" id="firstdiv">
  <div class="w3-display-middle">
    <hr class="w3-border-white" id="div-one-first">
    <h1 class="w3-jumbo w3-animate-top jello">Welcome to Skill-Up</h1>
    <hr class="w3-border-white" id="div-one-seoncd">
  </div>
</div>


<div class="container-fluid bg-2 text-center" id="seconddiv">
  <h2 class="margin stepheader" >How does Skill-Up Works?</h2>
  <div class="row align-items-center">
    <div class="col-6 col-sm-3 step-col-1">
      Step 1:
      <ul>
        <li class="step-li">Register as a new user.</li>
      </ul>
    </div>
    <div class="col-6 col-sm-3 step-col-2">
      Step 2:
      <ul>
        <li class="step-li">Set up user profile</li>
      </ul>
    </div>
    <div class="col-6 col-sm-3 step-col-3">
      Step 3:
      <ul>
        <li class="step-li">Search for the skill you want to learn</li>
      </ul>
    </div>
    <div class="col-6 col-sm-3 ">
      Step 4:
      <ul>
        <li class="step-li">Send a request to the user.</li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid bg-2 text-center" id="explore-div">
  <h3 class="margin">Add a new hobby to your daily life!</h3>
  <p> Are you ready to trade your skill with someone?</p>
  <a href="/categories" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Explore All The Categories
  </a>
</div>

<div class="container-fluid bg-3 text-center" id="category-div">
  <div class="row">
    <div class="col-sm-3">
      <p> Music </p>
    </div>
    <div class="col-sm-3">
      <p> Sports </p>
    </div>
    <div class="col-sm-3">
      <p> Languages </p>
    </div>
    <div class="col-sm-3">
      <p> Education </p>
    </div>
  </div>
</div><br>
