<br><br><br><br>
<% @skills.each do |skill| %>
  <div>
  <%= link_to skill.user.first_name, user_path(skill.user.id) %>
  <p>
  <%= skill.title %>
  </p>
  <p>
    <%= skill.description %>
  </p>
  </div>
<% end %>
