<br><br><br><br>

<% @skills.each do |skill| %>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <%= skill.title %>
            <%= skill.description %>
        </div>
    </div>
</div>
<% end %>
