/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #logo {
  float: left;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  padding-top: 2.5%;
}

.nav-link {
  margin-left: 5%;

}

.search-bar {
  float: right;
}

.navbar-inner {
    background-color: #2f3030;
    border-bottom: thin solid transparent;
    font-family: 'Bungee', cursive;
    text-align: center;
    z-index:999;
    position: fixed;
    padding: 0;

}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


body {
  font-family: 'Rubik', sans-serif;

}

th {
  font-size: 20px;
}

#footer {
  background-color: #5a5c5e;
  height: 150px;
}

.right-table {
    width:47%;
    margin-right: 2%;
    float: right;
}

.left-table {
    width:47%;
    margin-right: 2%;
    float: left;
}

.add-skill {
  margin-top: 200px;
  width:47%;
  margin-left:65px;
  position: absolute;
}

.index-first{
  width: 45%;
  margin-right:2%;
  margin-left:2%;
  float: left;
    background-color: 	#D3D3D3;
  box-shadow: 10px 10px 5px #888888;
}

.index-second{
  width: 45%;
  margin-right:2%;
  margin-left:2%;
  float: right;
  margin-bottom: 10%;
  background-color: #D3D3D3;
  box-shadow: 10px 10px 5px #888888;
}

.skill-index {
  margin-top: 100px;
  color: #5F9EA0;
  background-color: yellow;
}

.skill-show {
  position: absolute;
  top: 50%;
  bottom: 5%;
  left:50%;
  transform: translate(-50%,-50%);
  }

.skill-new-post {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    border: 3px solid #73AD21;
  }

.card-border {
  border-style: groove;
  border-radius: 25px;
  padding-bottom: 50px;
  margin: 0 20px 0 20px;
}

.card {
  width: 25rem;
}

.img-post {
  border-radius: 40px;
  margin-top: 10px;
}

.display-of-cards {
  justify-content: space-between;
}

.skill-post {
  margin-bottom: 40px;
}

.skill-body {
  color: #191970;
}

.post-main {
  padding: 1% 5% 5% 8%;
  background-color:  #dadfe8;
  box-shadow: 5px 5px 5px #888888;
}

.description-box {
  background-color: white;
  padding-top: 15px;
}

.user-profile-page-link {
  background-color: white;
}

.offer-box {
  font-size : 25px;
}

.image-box {
  background-color: black;
  margin:0 auto;
}

.img-fluid {
  margin: auto auto;
  display: block;
}

.btn-user {
  margin: auto auto;
  display: block;
  background-color: grey;
}

.btn-lg {
  margin: auto auto;
  display: block;
}

.offer-panel {

}

.app-list {
  padding: 1%;
}

.footer-class{
  width: 100%;
  margin: 0 auto;
  .container {
    text-align: center;
    p {
      width: 100%;
    }
  }
}

.post-img {
  border-radius: 25px;
}
