// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #maincontent {
//   background-color: #800080;
//   height:600px;
//   color: white;
//    }


.skills {
  font-weight: bold;
}

.stepheader {
 padding: 10px;
 font-family: 'Lalezar', cursive;
}

.logo-font {
  font-size: 90px;
  font-family: 'Bungee', cursive;
  color: #7f8082;
  text-shadow: -1px 0  #d1e0e0
, 0 1px   #d1e0e0
, 1px 0   #d1e0e0
, 0 -1px   #d1e0e0
;
}

#seconddiv {
background-color: #d2d6db;
 // min-height: 100%;
 background-position: center;
 background-size: cover;
 height:350px;
 color: black;
 font-size: 35px;
 font-family: 'Rubik', sans-serif;
 box-shadow: 5px 5px 5px #888888;
}

.step-col-1 {
 border-right: thin solid black;
 height: 200px;
 padding: 1%;
}

.step-col-2 {
 border-right: thin solid black;
height: 200px;
padding: 1%;
}

.step-col-3 {
 border-right: thin solid black;
height: 200px;
padding: 1%;
}

.step-li {
  font-size: 25px;
}

#explore-div {
  padding: 25px;
  height: 200px;
  font-size: 25px;
  box-shadow: 3px 3px 3px #888888;
}

#category-div {
  overflow: scroll;
  padding-top: 15px;
  height: 400px;
  background-color: #6d7177;
  color: white;
  box-shadow: 5px 5px 5px #888888;
}

header {
  text-align: center;
  // background: #009999;
  background-image: url('https://static.pexels.com/photos/36178/pexels-photo.jpg');
  background-size: cover;
  color: white;
  box-shadow: 5px 5px 5px #888888;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}


// footer
footer{
    padding-top: 120px;
    background-color: #80edd9;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 25px;
    margin: 0px;
    line-height: 100%;
}
