// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.skills {
  font-weight: bold;
}

.stepheader {
 padding: 10px;
 font-family: 'Lalezar', cursive;
}
//
.header-div {
  background-color: white;
  padding-top: 15px;
  width: 80%;
  box-shadow: 5px 5px 5px black;
}

#seconddiv {
  background-color: #333138;
  height:350px;
  color: white;;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  box-shadow: 5px 5px 5px black;
}

.step-col-1 {
 border-right: thin solid black;
 height: 200px;
 padding: 1%;
}

.step-col-2 {
 border-right: thin solid black;
height: 200px;
padding: 1%;
}

.step-col-3 {
 border-right: thin solid black;
height: 200px;
padding: 1%;
}

.step-li {
  font-size: 25px;
}

#explore-div {
  padding: 25px;
  height: 200px;
  font-size: 25px;
  box-shadow: 3px 3px 3px #888888;
}

#category-div {
  padding-top: 5px;

  height: 400px;
  background-color: #333138;
  color: white;
  box-shadow: 5px 5px 5px #888888;
}

header {
  text-align: center;
  height: 975px;
  background-image: url('https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg');
  background-size: cover;
  color: #2f3030;
  box-shadow: 5px 5px 5px #888888;
  padding: 15%;
}

header .intro-text .name {
  display: block;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}


.explore-btn {
  width: 25%;
  background-color: #333138;
  color: white;
}

#footer {
  height: 40px;
  background-color: #f5f5f5;
  max-height: 100px;
  max-width: 100%;
  position: absolute;
}

.text-muted {
  padding-top: 7px;
  text-align: center;

}
