// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.firstdiv {
  background-color: #80edd9;
  height:600px;
  color: white;
   }



.stepheader {
 padding: 10px;
}


#seconddiv {
 background-image: url('https://code2prog.com/wp-content/uploads/2015/01/ceystalhorizon-flat-design-wallpapers-HD-free-wallpapers-backgrounds-images-FHD-4k-download-2014-2015-2016.jpg');
 min-height: 100%;
 background-position: center;
 background-size: cover;
 height:350px;
 color: white;
 font-size: 25px;
 font:Montserrat, sans-serif;
}

.step-col-1 {
 border-right: thin solid white;
 height: 200px;
 padding: 1%
}

.step-col-2 {
border-right: thin solid white;
height: 200px;
padding: 1%
}

.step-col-3 {
border-right: thin solid white;
height: 200px;
padding: 1%

}

.step-li {
  font-size: 20px;
}

#explore-div {
  padding: 25px;
  height: 200px;
}

#category-div {
  padding-top: 15px;
  height: 400px;
  background-color: #80edd9;
  color: grey;
}

header {
  text-align: center;
  background: #80edd9;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
