<br><br><br><br><br><br><br><br><br><br><br>
<table class="table">
  <% @categories.each do |c| %>
  <thead>
    <tr>
      <th><%= c.title %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= c.id %></th>
      <% c.subcategories.each do |s| %>
      <th><%= link_to s.title, [c, s] %></th>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
